<h1>MESSAGE BOARD</h1>
<p>Welcome to the Iron Hack Message board</p>

<div id="messages">

</div>

<form id="post-message-form">
  title: <input type="text" name="title" id="title">
  body: <input type="text" name="body" id="body">
  <button type="submit">post message</button>
</form>


highlighted message: {{message.title}}